
<div class="container">
    <div *ngFor="let jefe of boss" >
        <img [src]="jefe" alt="">
    </div>
    <div>
        <p>
        En MONSALUD EPS somos monstruos cuidando monstruos
MONSALUD EPS es una sociedad anónima constituida mediante la escritura pública No. xxx del xx de marzo de 20xx, que surge como Entidad Promotora de Salud del Régimen Contributivo a través de la Resolución No. xxx del x de abril de 20xx y del Régimen Subsidiado a través de la Resolución No. xxxxx del xx de diciembre de 20xx de la Superintendencia Nacional de Salud.
<br>
<br>
MONSALUD EPS inició operaciones el x de agosto de 20xx con los afiliados del Instituto de Seguros Sociales (ISS) que fueron trasladados a la Compañía. 
<br>
<br>
MONSALUD EPS ha logrado crecer en usuarios convirtiéndose en una de las EPS más grandes del país y la primera en cobertura con presencia en 1.117 municipios y 200 multiversos
<br>
 <br>
Misión: 
Trabajamos constantemente por asegurar y gestionar la protección integral de la salud1 de nuestros afiliados.  
<br>
<br>
Visión 2020:  
Ser reconocidos como la EPS líder en el aseguramiento y la protección integral de la salud1 de nuestros afiliados y en la implementación de modelos exitosos e innovadores de gestión; construyendo sinergias con clientes y proveedores, asegurando la excelencia operacional, con colaboradores comprometidos y generando valor a los accionistas y la sociedad. 
Protección integral de la salud: prevenir, mantener y mejorar la salud de la población afiliada. 
<br>
<br>
Valores: 
    • Respeto. 
    • Honestidad. 
    • Solidaridad.
    • Responsabilidad.

 <br>
 <br>

El propósito de MONSALUD EPS es la protección integral de la salud de nuestros afiliados, razón por la cual nos enfocamos en gestionar sus riesgos,con un alto compromiso en prevenir, mantener o mejorar sus condiciones de bienestar y la de su grupo familiar. Somos un aliado del bienestar de nuestros afiliados y ofrecemos un servicio consentido. Somos monstruos cuidando monstruos. 
</p>    
</div>
</div>

<div>
    <p>La presentacion de la imagen del innombrable al inicio de esta vista corresponde a la afiliacion y responsablidiad de su persona con las eps's y no alcanza a representar el repudio del desarrollador para con el personaje y sus acciones</p>
</div>