
<div class="content_two" [ngStyle]="{backgroundImage:'url(/taller-angular/src/assets/img/fondo2.jpg)'}">
    <div class="container">
        <div class="card">
            <img [src]="enfermedades[0]" alt="chica_arte">
            <h4>Piojos</h4>
            <p>Los piojos son pequeños insectos que viven en la cabeza. Los piojos adultos tienen el tamaño de las semillas de sésamo. Los huevos, llamados liendres, son incluso más pequeños, aproximadamente del tamaño de una escama de caspa. Los piojos y las liendres se encuentran en el cuero cabelludo o cerca de él, con mayor frecuencia en el cuello y detrás de las orejas.

                Los piojos son parásitos y necesitan alimentarse de sangre para sobrevivir. Son uno de los tres tipos de piojos. Los otros dos tipos son piojos del cuerpo y ladillas. Cada tipo de piojo es diferente, e infectarse de un tipo no significa que se contagiará con otro.
            </p>
            <a href="">Leer más...</a>
        </div>
        <div class="card">
            <img [src]="enfermedades[1]" alt="dali">
            <h4>Checkeo Regular</h4>
            <p> La mayoríaconfía en sus ojos para ver y dar sentido al mundo que los rodea. Sin embargo, algunas enfermedades de los ojos pueden conducir a pérdida de la visión, por lo que es importante identificar y tratar estas enfermedades lo antes posible. Usted debe acudir a una revisión de sus ojos tan seguido como su proveedor de atención médica lo recomiende, o si presenta nuevos problemas de la visión en mas de un tercio de sus ojos
            </p>
            <a href="">Leer más...</a>
        </div>
        <div class="card">
            <img [src]="enfermedades[2]" alt="grito">
            <h4>Resfriado</h4>
            <p>Los primeros signos de un resfriado generalmente son dolor de garganta y moqueo, seguidos por tos y estornudos. La mayoría se recuperan en unos 7 a 10 días. Usted puede ayudar a reducir el riesgo de resfriarse si se lava las manos/tentaculos con frecuencia, evita el contacto cercano con enfermos y no se toca la cara con las manos/tentaculos sin lavar.
            </p>
            <a href="">Leer más...</a>
        </div>

       
    </div>
    <div class="container">
        <div class="card">
            <img [src]="enfermedades[3]" alt="meninas">
            <h4>¿Resucitando?</h4>
            <p>Cuando la sangre no se coagula correctamente, se produce un sangrado excesivo (interno y externo) después de una herida o lesión.
                Los síntomas incluyen varios hematomas grandes o profundos, inflamación y dolor de las articulaciones, sangrado inexplicable, si usted es un no muerto este atento a estos sintomas, puede signifiar que ha resucitado. Visite su psicopata de confianza.</p>
            <a href="">Leer más...</a>
        </div>
        <div class="card">
            <img [src]="enfermedades[4]" alt="autoretrato">
            <h4>¿Cuantos somos?</h4>
            <p>Actualmente, para el modelo médico predominante en psiquiatría, oír voces es síntoma de una enfermedad mental grave, como la esquizofrenia o el trastorno bipolar, debida a una anomalía en el funcionamiento del cerebro, que requiere de un tratamiento farmacológico. En caso de oir voces en su cabeza y si solo tiene una consulte a nuestro equipo psiquiatrico, de tener mas de una cabeza le recomendamos usar audifonos de proteccion para evitar futuros daños auditivos.</p>
            <a href="">Leer más...</a>
        </div>

        <div class="card" style="background-color: red;">
            <img [src]="enfermedades[5]" alt="angeles">
            <h4>Emergencia</h4>
            <p>Si en algun punto de sus labores cotidianas se encuentra en contacto directo con objetos recientemente manipulados por humanos, en un ambiente saturado de humanos, en contacto directo con humanos de cualquier tipo, contactece con nuestra linea de emergencia #3312, un equipo de profesionales en desinfeccion y contencion se asegurara de garantizar su integridad y evitar que sea destuido por un rasho laser </p>
            <a href="">Leer más...</a>
        </div>

    </div>
</div>
