<br>
<br>
<br>
<br>
<footer>
    <div class="f1li">
        <div class="map">
            <p>Todo nuestro equipo interdisciplinar de especialistas es contratado bajo normas de seleccion de altisima calidad pensando en el bienestar de nuestros pacientes</p>
        </div>
    
        <div class="iconosredes">
    
            <div class="ajusteicono" >
                <a href="http://twitter.com/" target="_blank" > <img [src]='redes[1]'
                        alt="iconotwitter"> </a>
                <a href="http://facebook.com/" target="_blank" > <img [src]="redes[0]"
                        alt="iconofacebook"> </a>
                <a href="http://instagram.com/" target="_blank" > <img [src]='redes[2]'
                        alt="iconoinstagram"> </a>
            </div>
    
        </div>

        
    </div>
    <div class="textofooter">

        <p>© COPYRIGHT 2020 
            <br>
            LEY 100 DE 1993

(Diciembre 23)

Diario Oficial No. 41.148 de 23 de diciembre de 1993

  

Por la cual se crea el sistema de seguridad social integral y se dictan otras disposiciones
        </p>
    </div>

</footer>