

<h1>Para atencion contacta directamente con el centro medico mas cercano!</h1>
<br>

<div class="card">
    <div class="ips">
        <h5>Hospital San Juan de Dios</h5>
        <h6>Troncal Carrera 10 #1 - 59 Sur, Antonio Nariño, Bogotá</h6>
        <h6>311 5768934</h6>
        <hr width="auto" color="blue">
    </div>
    
    <div>
        <h5>Hospital Engativá</h5>
        <h6>Tv. 100a #80a-50, Bogotá</h6>
        <h6>(1) 4431790</h6>
        <hr width="auto" color="blue">
    </div>
    <div>
        <h5>UPA ESPAÑOLA UNIDAD PRIMARIA DE ATENCION</h5>
        <h6>Cl. 83 #17 85 A, Bogotá</h6>
        <h6>(1) 2513336</h6>
        <hr width="auto" color="blue">
    </div>
    
    <div>
        <h5>Hospital Fontibón E.S.E.</h5>
        <h6>Cra 99 Clle 16 i, Fontibón, Bogotá</h6>
        <h6>(1) 4860033</h6>
        <hr width="auto" color="blue">
    </div>
    
    <div>
        <h5>Hospital Bosa II Nivel</h5>
        <h6>Calle 65d Sur No. 79C - 90, Bosa Centro, Bogotá</h6>
        <h6>(1) 7764038</h6>
        <hr width="auto" color="blue">
    </div>
    
    <div>
        <h5>Subred Integrada de Servicios de Salud Norte - CAPS Chapinero</h5>
        <h6>Cl. 66 #1541, Bogotá</h6>
        <h6>(1) 4431790</h6>
        <hr width="auto" color="blue">
    </div>
    <div>
        <h5>USS Vista Hermosa</h5>
        <h6>Calle 67A Sur # 18C-12, Ciudad Bolivar, Bogotá</h6>
        <h6>(1) 7300000</h6>
        <hr width="auto" color="blue">
    </div>
    
    <div>
        <h5>Hospital Rafael Uribe Uribe E.S.E.</h5>
        <h6>Cra. 13 #26A-34Sur, Comuna Cdad. Bolívar, Bogotá</h6>
        <h6>(1) 5966600</h6>
        <hr width="auto" color="blue">
    </div>
</div>


